@{
  Layout = "_Layout";
}
<h1>Administrative Menu</h1>

<h3>What would you like to do today?</h3>

<a href="/vendors"><button>View all vendors</button></a>
<a href="/vendors/new"><button>Add a new vendor</button></a>