<h1>Add a New Vendor</h1>

<form action="/vendors" method="post">
  <label for="name">Vendor Name</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add</button>
</form>

  <a href="/"><button type="submit">Back Home</button></a>
  <a href="/vendors"><button type="submit">Back To Vendors</button></a>
